.map_main {
  position: relative;
  z-index: 99;
}

.map_search {
  position: absolute;
  left: 20px;
  top: 20px;
}

.map_tools {
  position: absolute;
  right: 70px;
  top: 20px;
}

.textBtn {
  padding: 8px;
  color: #656565
}

.map_tools .grid_select {
  position: absolute;
  background-color: white;
  padding: 15px;
  top: 50px;
  left: -10px;
  border-radius: 2px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
  .arrow {
    position: absolute;
    top: -15px;
    left: 45px;
    width: 20px;
    height: 20px;
  }
  .el-checkbox {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #585858;
  }
}

.map_tools .tool_select {
  position: absolute;
  background-color: white;
  padding: 15px;
  top: 50px;
  left: 90px;
  border-radius: 2px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
  .arrow {
    position: absolute;
    top: -15px;
    left: 45px;
    width: 20px;
    height: 20px;
  }
  .el-checkbox {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #585858;
  }
}

.map_tools .el-button--primary {
  margin-left: 10px;
  background-color: #2070e5;
  border: 0;
  box-shadow: 1px 1px 4px 0px rgba(12, 12, 12, 0.7);
}

.map_tools .el-button--default {
  background-color: #3f5ab5;
  color: white;
  border: 0;
  box-shadow: 1px 1px 4px 0px rgba(12, 12, 12, 0.7);
}

.map_tools .el-button--success {
  margin-left: 10px;
  background-color: #00b358;
  color: white;
  border: 0;
  box-shadow: 1px 1px 4px 0px rgba(12, 12, 12, 0.7);
}

.map_change {
  position: absolute;
  right: 20px;
  top: 20px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  /* Firefox 4 */
  -webkit-transition: all 0.5s;
  /* Safari 和 Chrome */
  -o-transition: all 0.5s;
  /* Opera */
}

.map_change .change_theme {
  position: relative;
  height: 50px;
  width: 210px;
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  display: -webkit-flex;
  /* Safari */
  flex-direction: row;
  align-items: center;
  margin-left: -170px;
  border-radius: 4px;
  padding-right: 10px;
  background-color: rgba(244, 244, 244, 0.4);
  overflow: hidden;
}

.map_change .activetheme {
  background: unset;
  width: 50px;
  margin-left: -10px;
}

// .map_change .change_theme::before {
//   content: '';
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   filter: blur(20px);
// }
.map_change .change_theme .item {
  height: 40px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: white;
  color: #656565;
  flex: 1;
  cursor: pointer;
}

.map_change .change_theme .item img {
  width: 100%;
  height: 100%;
  padding: 8px;
}

.map_change .change_type {
  height: 40px;
  width: 40px;
  background-color: white;
  color: #656565;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.map_change .change_zoom {
  display: -webkit-flex;
  /* Safari */
  margin-top: 10px;
  width: 40px;
  height: 80px;
  border-radius: 5px;
  background-color: white;
  color: #656565;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  align-self: center;
  justify-content: center center;
  align-content: stretch;
}

.map_change .change_zoom .change_zoom_item {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.change_line {
  height: 2px;
  background-color: #eaeaea;
  width: 30px;
  text-align: center;
}

.change_map {
  position: relative;
  margin-top: 10px;
  margin-left: -200px;
  background-color: white;
  height: 80px;
  width: 240px;
  border-radius: 1px;
  display: flex;
  display: -webkit-flex;
  /* Safari */
  flex-direction: row;
  align-items: center;
}

.change_map .item {
  flex: 1;
  cursor: pointer;
  border-radius: 1px;
}

.change_map .item:nth-child(1) {
  margin-left: 10px;
  margin-right: 5px;
}

.change_map .item:nth-child(2) {
  margin-left: 5px;
  margin-right: 40px;
}

.change_map .item_btn {
  position: absolute;
  right: 15px;
  top: 30px;
  cursor: pointer;
}

.change_map img {
  border: 0;
  height: 100%;
  width: 100%;
}

// 统计图表位置
.statis_modes{
  position: absolute;
  top: 700px;
  left: 20px;
}
