#mapWrap {
  width: 100%;
  height: 100%;
}


/** 地图工具栏样式 */

.map-toolbar-wrap {
  position: absolute;
  height: 40px;
  line-height: 40px;
  background-color: #5495f9;
}


/** 地图图层操作下拉工具栏样式 */

.map-dropdown {
  position: relative;
  float: left;
  padding: 0 10px;
  color: #FFFFFF;
}

.map-tools {
  position: relative;
  float: right;
  padding: 0 10px;
  color: #FFFFFF;
}

.map-tools-btn,
.map-dropdown-btn {
  cursor: pointer;
  margin-right: 10px;
}

.map-tools-btn img {
  width: 24px;
  height: 24px;
}

.el-popover .el-tree {
  width: 180px;
}


/** 弹出框样式 */

.el-popover {
  min-width: 75px;
}

.popover-item {
  padding: 5px;
  cursor: pointer;
  color: #1f2d3d;
  font-size: 13px;
}

.popover-item:hover {
  /* background-color: #ededed; */
  color: #5693eb;
}

.popover-item img {
  margin-right: 10px;
}

.popover-item span,
.map-dropdown-btn span {
  vertical-align: middle;
}

.uk-dropdown-component {
  max-height: 200px;
}


/** 地图测量工具样式 */

.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}

.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}

.tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}

.tooltip-measure:before,
.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}

.tooltip-static:before {
  border-top-color: #ffcc33;
}


/** 界面地图样式 */

.map-switch-wrap {
  position: absolute;
  width: 0px;
  height: 0px;
}

.map-oper {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #FFFFFF;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}

.map-oper-full {
  bottom: 151px;
}

.map-oper-zoomin {
  bottom: 150px;
}

.map-oper-zoomout {
  bottom: 149px;
}

.map-type {
  position: relative;
  left: 380px;
  bottom: 20px;
  height: 60px;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  width: 110px;
  background-color: rgba(255, 255, 255, 0);
}


/** 绘图工具样式 */

.map-draw-wrap {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 150px;
}

.map-draw {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #FFFFFF;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}

.map-draw-circle {
  /* top: 151px; */
}
